<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/meet-batra-25612b260/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.instagram.com/meetbatra18/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://x.com/batra_meet" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
        <div>&copy;ExploreHaven Private Limited</div>
        <div class="f-info-terms">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>